extends ../layout

block headerinit
  meta(charset='utf-8')
  title Bivalves

block headerend
  script(src='/js/moment.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  link(rel='stylesheet', href='/css/dashboard.css')
  link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    div.container-fluid
      div.navbar-header
        a(class='navbar-brand', href='/dashboard')
          img(src='/images/logo-ipma.png', class='brand-logo')
      div(id='navbar', class='navbar-collapse collapse')
        ul.nav.navbar-nav.navbar-right
          if login
            li
              a #{user}
            li
              a(href='/dashboard/logout') Sair
          else
            li
              a(href='/dashboard/login') Entrar
  div.container-fluid
    div.row
      div.col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li.module-header
            a(href='/dashboard') Ínicio
        ul.nav.nav-sidebar
          li.module-header
            a Bivalves
          li
            a(href='/dashboard/samples') Amostras Fitoplancton
          li
            a(href='/dashboard/production_areas') Zonas de Produção
          li
            a(href='/dashboard/stations') Estações
      block pagecontent

  script.
    $('.nav-sidebar a[href="#{active}"]').parent().addClass('active');
