extends base


block pagecontent
  div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    div.row
      div.col-md-6.col-md-offset-3
        h1.page-header #{title}
        div#error-container
          if error
            div(class="alert alert-danger", role="alert") #{error}
        form(method='post')
          div.form-group
            label(for='input-username') Nome de utilizador
            input(type='text', class='form-control', id='input-username', name='input-username', placeholder='Nome')
          div.form-group
            label(for='input-password') Palavra chave
            input(type='password', class='form-control', id='input-password', name='input-password')
          button(type='submit', class='btn btn-default') Entrar
