extends base

block pagecontent
  include ../datatables.jade
  div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    h1.page-header #{title}
    div(id='main_table')
      table(id='maintable', class='table table-bordered table-stripped', cellspacing='0', width='100%')
        thead
          tr
            th Código
            th Nome
            th Tipo de Zona

  script(src='/js/app/dashboard/bivalves.Models.js')
  script.
    $(document).ready(function() {
      var table = $("#maintable").DataTable({
        "columnDefs": [
          {"width": "50px", "targets": 0},
        ],
        language: {
          lengthMenu: 'Mostrar _MENU_ entradas por página',
          zeroRecords: 'Nenhuma entrada encontrada',
          info: 'Página _PAGE_ de _PAGES_',
          infoEmpty: 'Sem entradas',
          infoFiltered: '(de um total de _MAX_ entradas filtradas)',
          paginate: {
            first: 'Primeiro',
            previous: 'Anterior',
            next: 'Próximo',
            last: 'Último'
          },
          search: 'Pesquisar'
        },
      });
      /*production_areas_collection.on('add', function(model, collection, options) {
        table.row.add([
          model.get('code'),
          model.get('name'),
          model.get('type')
        ]).draw();
      });*/
      //production_areas_collection.fetch();

      production_areas_collection.forEach(function (element, index, list) {
        table.row.add([
          element.get('code'),
          element.get('name'),
          element.get('type')
        ]).draw();
      });
    });
  script.
    var production_areas_collection = new ProductionAreas(JSON.parse('!{production_areas}'));
