extends base

block pagecontent
  script(src='/js/app/dashboard/bivalves.Models.js')
  include ../datatables.jade
  div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    h1.page-header #{title}
    div
      div(class='btn-group', role='group', aria-label='...')
        a(class='btn btn-primary', href='/dashboard/samples/new', role='button') Criar amostra
        a(class='btn btn-default', href='/dashboard/samples/export', role='button') Exportar dados
    div#table-settings
      div.row
        div.col-md-3
          h4 Colunas visiveis
            span(class='glyphicon glyphicon-chevron-up', aria-hidden='true')
      form.form-inline
        div.col-md-3.col-sm-4.col-xs-12.settings-col
          div.row
            div.form-group
              input(type='checkbox', class='form-control', value='Amostragem', id='Amostragem', data-column='5', checked)
              label(for='Amostragem') Data de Amostragem
          div.row
            div.form-group
              input(type='checkbox', class='form-control', value='Recepção', id='Recepção', data-column='6', checked)
              label(for='Recepção') Data de recepção
          div.row
            div.form-group
              input(type='checkbox', class='form-control', value='Observação', id='Observação', data-column='7', checked)
              label(for='Observação') Data de observação
        div.col-md-3.col-sm-4.col-xs-12.settings-col
          div.row
            div.form-group
              input(type='checkbox', class='form-control', value='Observador', id='Observador', data-column='8')
              label(for='Observador') Observador
          div.row
            div.form-group
              input(type='checkbox', class='form-control', value='Temperatura', id='Temperatura', data-column='9')
              label(for='Temperatura') Temperatura
          div.row
            div.form-group
              input(type='checkbox', class='form-control', value='Salinidade', id='Salinidade', data-column='10')
              label(for='Salinidade') Salinidade
        div.col-md-3.col-sm-4.col-xs-12.settings-col
          div.row
            div.form-group
              input(type='checkbox', class='form-control', value='asp', id='ASP', data-column='11')
              label(for='ASP') Somatório ASP
          div.row
            div.form-group
              input(type='checkbox', class='form-control', value='dsp', id='DSP', data-column='12')
              label(for='DSP') Somatório DSP
          div.row
            div.form-group
              input(type='checkbox', class='form-control', value='psp', id='PSP', data-column='13')
              label(for='PSP') Somatório PSP
    div(id='main_table')
      table(id='maintable', class='table table-striped table-bordered', cellspacing='0', width='100%')
        thead
          tr
            th 
            th #
            th Ano
            th Estação
            th Zona
            th Amostragem
            th Recepção
            th Observação
            th Observador
            th Temperatura
            th Salinidade
            th Somatório ASP
            th Somatório DSP
            th Somatório PSP

  script(src='/js/app/dashboard/sample.js')
  script.
    var production_areas_collection = new ProductionAreas();
