extends base


block pagecontent
  script(src='/js/app/dashboard/bivalves.Models.js')
  script(src='/js/validator.js')
  include ../datatables.jade
  div(class='col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main', id='sampleform')
    div.row
      h1.page-header #{title}
    div.row.page-header
      div.col-md-6
        div(class='btn-group', role='group', aria-label='...')
          button(class="btn btn-primary savebtn", type="button", id='save-top') Guardar Amostra
          button(class="btn btn-default cancelbtn", type="button", id='cancel-top')
            a(href="/dashboard/samples") Voltar
          a(href="/dashboard/samples/#{sample_id}/remove", style="color: #eee", class="btn btn-danger", id="delete") Remover
    div#alert-container.row
    div.row
      div.col-md-4
        div.form-group
          label(for="year_count", class="control-label") Número da Amostra
          input(type="text", class="form-control", id="year_count")
          div(class="help-block with-errors")
      //div.col-md-4
        //div.checkbox(style="margin-top: 30px;")
          //label
            //input(type="checkbox", id="extra_sample")
            //| Amostra Extra
            //div(class="help-block with-errors")
    div.row
      div.col-md-4
        div.form-group
          label(for="sampling_datetime", class="control-label") Data e Hora da Colheita
          input(type="text", class="form-control", id="sampling_datetime", placeholder="AAAA-MM-DD HH:MM")
          div(class='help-block with-errors')
      div.col-md-4
        div.form-group
          label(for="reception_datetime", class="control-label") Data e Hora da Recepção
          input(type="text", class="form-control", id="reception_datetime", placeholder="AAAA-MM-DD HH:MM")
          div(class='help-block with-errors')
      div.col-md-4
        div.form-group
          label(for="observation_datetime", class="control-label") Data da Observação
          input(type="text", class="form-control", id="observation_datetime", placeholder="AAAA-MM-DD")
          div(class='help-block with-errors')
    div.row
      div.col-md-3
        div.form-group
          label(for="station") Estação
          select(id="station", class="form-control chosen-select")
            each station in stations
              option(value="#{station.id}") #{station.name}
      div.col-md-6
        div.form-group
          label(for='production_area') Zona de Produção
          div(id="production_area", class="well well-sm") Nome
      div.col-md-3
        div.form-group
          label(for='production_area_code') Código
          div(id="production_area_code", class="well well-sm") Código
    div.row
      div.col-md-2
        div.form-group
          label(for="temperature") Temperatura
          div.input-group
            input(type="number", class="form-control", id="temperature", placeholder="Temperatura")
            span(class="input-group-addon", id="temperature-addon2") ºC
          div(class='help-block with-errors')
      div.col-md-2
        div.form-group
          label(for="salinity") Salinidade
          input(type="number", class="form-control", id="salinity", placeholder="Salinidade")
          div(class='help-block with-errors')
      div.col-md-2
        div.form-group
          label(for="sample_volume") Volume da amostra
          div.input-group
            select(id="sample_volume", class="form-control chosen-select")
              option(value="")
              option(value="10") 10
              option(value="25") 25
              option(value="50") 50
              option(value="100") 100
            span(class="input-group-addon", id="sample_volume-addon2") ml
          div(class='help-block with-errors')
      div.col-md-2
        div.form-group
          label(for="observer") Observador
          select(id="observer", class="form-control chosen-select")
            option(value="")
            option(value="Alexandra Silva") Alexandra Silva
            option(value="Teresa Pereira Coutinho") Teresa Pereira Coutinho
            option(value="Teresa Quental") Teresa Quental
            option(value="Maria Ana Castelo Branco") Maria Ana Castelo Branco
            option(value="Lia Godinho") Lia Godinho
            option(value="Mariana Santos") Mariana Santos
            option(value="Barbara Frazão") Barbara Frazão
            option(value="André Sobrinho-Gonçalves") André Sobrinho-Gonçalves
            option(value="Falta de Recursos Humanos") Falta de Recursos Humanos
            option(value="Outro") Outro
      div.col-md-4
        div.form-group
          label(for="observer_other")
          input(type="text", class="form-control empty-input", id="observer_other", placeholder="Observador", disabled)
    div.row.page-header
      div.col-md-4
        label(for='notes') Notas
        select(id="notes", class="form-control chosen-select")
          option(value="")
          option(value="Amostra com sedimento, apenas possível observar todas as espécies a 200v") Amostra com sedimento, apenas possível observar todas as espécies a 200v
          option(value="Amostra com sedimento, apenas possível observar os dinoflagelados superiores a 40 µm") Amostra com sedimento, apenas possível observar os dinoflagelados superiores a 40 µm
          option(value="Bloom de diatomáceas") Bloom de diatomáceas
          option(value="Bloom de dinoflagelados") Bloom de dinoflagelados
          option(value="Bloom de Criptophyceas") Bloom de Criptophyceas
          option(value="Bloom de fitoflagelados") Bloom de fitoflagelados
          option(value="Outro") Outro
      div.col-md-8
          label(for="notes_other")
          input(type="text", class="form-control empty-input", id="notes_other", disabled)
    div.row
      div.col-md-4
        div.form-group
          label(for="sum_asp") Somatório ASP
          div.input-group
            input(type="text", class="form-control", id="asp", readonly, placeholder="0")
            span(class="input-group-addon", id="asp-addon") Cel/L
      div.col-md-4
        div.form-group
          label(for="sum_psp") Somatório PSP
          div.input-group
            input(type="text", class="form-control", id="psp", readonly, placeholder="0")
            span(class="input-group-addon", id="asp-addon") Cel/L
      div.col-md-4
        div.form-group
          label(for="sum_dsp") Somatório DSP
          div.input-group
            input(type="text", class="form-control", id="dsp", readonly, placeholder="0")
            span(class="input-group-addon", id="asp-addon") Cel/L
    div.row
      div.col-md-12
        div.form-group
          table(id="parameter_table", class="table table-striped table-bordered", cellspacing="0", width="50%")
            thead
              tr
                th Parâmetro
                th Valor
    div.row.page-header
      div.col-md-6
        div(class="btn-group", role="group")
          button(id="add_parameter", class="btn btn-default") Adicionar
          button(id="del_parameter", class="btn btn-danger") Remover

    div.row
      div.col-md-6
        div(class='btn-group', role='group', aria-label='...')
          button(class="btn btn-primary savebtn", type="button", id='save-bottom') Guardar Amostra
          button(class="btn btn-default cancelbtn", type="button", id='cancel-bottom')
            a(href="/dashboard/samples") Voltar

  script(src="/js/app/dashboard/sample_edit.js")
  script.
    var sample_id = #{sample_id};
