extends base


block pagecontent
  script(src='/js/app/dashboard/bivalves.Models.js')
  script(src='/js/validator.js')
  include ../datatables.jade
  div(class='col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main', id='sampleform')
    h1.page-header #{title}
    div.row.page-header
      div(class='btn-group', role='group', aria-label='...')
        button(class="btn btn-primary", type="button", id='save') Guardar Estação
        button(class="btn btn-default", type="button", id='cancel')
          a(href="/dashboard/stations") Voltar
    div#alert-container.row
    div.row
      div.col-md-6
        div.form-group
          label(for="name", class="control-label") Nome da Estação
          input(type="text", class="form-control", id="name", placeholder="Insira o nome da estação")
          div(class="help-block with-errors")
      div.col-md-4
        div.form-group
          label(for="active", class="control-label") Estado
          div.form-inline
            input(type="checkbox", class="form-control", id="active", style="margin: 0px 10px")
            | Em actividade
    div.row
      div.col-md-3
        div.form-group
          label(for="production_area_code", class="control-lavel") Zona de Produção
          select(id="production_area_code", class="form-control chosen-select")
            each area in production_areas
              option(value="#{area.code}") #{area.name}
          div(class="help-block with-errors")
          
    div.row
      div.col-md-2
        div.form-group
          label(for="lat") Latitude
          input(type="number", class="form-control", id="lat", placeholder="Latitude")
          div(class='help-block with-errors')
      div.col-md-2
        div.form-group
          label(for="lon") Longitude
          input(type="number", class="form-control", id="lon", placeholder="Longitude")
          div(class='help-block with-errors')

  script(src="/js/app/dashboard/sample_new.js")
