extends base


block pagecontent
  include ../datatables.jade
  div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    h1.page-header #{title}
    div(id='main_table')
      table(id='maintable', class='table table-striped table-bordered', cellspacing='0', width='100%')
        thead
          tr
            th Código
            th Nome
            th Latitude
            th Longitude
            th Zona de Produção
            th Estado

  script(src='/js/app/dashboard/bivalves.Models.js')
  script.
    $(document).ready(function() {
      var table = $("#maintable").DataTable({
        autoWidth: false,
        language: {
          lengthMenu: 'Mostrar _MENU_ entradas por página',
          zeroRecords: 'Nenhuma entrada encontrada',
          info: 'Página _PAGE_ de _PAGES_',
          infoEmpty: 'Sem entradas',
          infoFiltered: '(de um total de _MAX_ entradas filtradas)',
          paginate: {
            first: 'Primeiro',
            previous: 'Anterior',
            next: 'Próximo',
            last: 'Último'
          },
          search: 'Pesquisar'
        },
      });
      stations_collection.on('add', function(model, collection, options) {
        table.row.add([
          //'<a class="btn btn-link btn-xs" href="/dashboard/stations/' + model.get('id') + '" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>',
          model.get('id'),
          model.get('name'),
          model.get('lat'),
          model.get('lon'),
          model.get('production_area_code'),
          model.isActive()
        ]).draw();
      });
      stations_collection.fetch();
    });
