block datatables
  link(rel='stylesheet', href='/css/dataTables.bootstrap.min.css')
  link(rel='stylesheet', href='/css/chosen.min.css')
  script(src='/js/jquery.dataTables.min.js')
  script(src='/js/dataTables.bootstrap.min.js')
  script(src='/js/chosen.jquery.js')
