doctype html
html(lang='en')
  head
    block headerinit
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='/js/jquery.js')
    script(src='/js/underscore.js')
    script(src='/js/backbone.js')
    script(src='/js/bootstrap.js')
    block headerend
  body
    block content
