body {
    padding-top: 50px;
}
.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.navbar-fixed-top {
    border: 0 none;
}
.navbar-header .navbar-brand {
    padding: 8px;
}
.brand-logo {
    height: 100%;
}
.sidebar {
    display: none;
}
@media (min-width: 768px) {
.sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /*padding: 20px;*/
    position: fixed;
    top: 50px;
    z-index: 1000;
}
}
.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: #428bca;
    color: #fff;
}
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-left: 40px;
        padding-right: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 50%;
    display: inline-block;
}
.sub-label {
    color: #777;
    //font-weight: normal;
    line-height: 1
    font-size: 65%;
}
.well {
    padding: 6px;
}

/* MOVE THIS IN PRODUCTION */
#table-settings {
    display: inline-block;
    margin-bottom: 2%;
    width: 100%;
}

#table-settings h4 {
    cursor: pointer;
}

#table-settings label {
    font-weight: normal;
    margin-right: 20px;
}

#table-settings h4 span {
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

#table-settings input[type="checkbox"] {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 2px;
}

table tbody tr.selected {
    background-color: #e1e1e1;
}

table tbody tr:nth-of-type(2n+1).selected {
    background-color: #e1e1e1;
}

/* Table highlighting */
#maintable tbody tr:hover {
    background-color: #e9e9e9;
}

li.module-header a {
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.empty-input {
    margin-top: 5px;
}
